<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow mb-3">
    <div class="container-fluid">  
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/assets/logo.svg" class="me-2" width='32' height='32' alt="Logo" />YouInvestMe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 ms-4 my-2">
                <li class="nav-item border-start my-1 border-primary px-2 ">
                    <a class="nav-link text-dark link-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item my-1 border-primary px-2 ">
                    <a class="nav-link text-dark link-primary" asp-area="" asp-controller="Home" asp-action="Index">Clients</a>
                </li>
                <li class="nav-item my-1 border-primary px-2 ">
                    <a class="nav-link text-dark link-primary" asp-area="" asp-controller="Home" asp-action="Index">Products</a>
                </li>                   
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>