@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="mx-auto d-flex flex-column justify-content-center">
    <div class="text-danger my-4">
        <h1>Oops, it's an error</h1>
        <h2>An error occurred while processing your request.</h2>
    </div>
    @if (Model.ShowRequestId)
{
    <div>
        <p class="mb-4">
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    </div>
}
    <div class="card text-white col-6 bg-danger">
        <div class="card-header">
            Take an action
        </div>
        <div class="card-body">
            <h2 class="">What to do?</h2>
            <p>If you think, that something here is wrong, please feel welcome to contact our support team</p>
            <button class="mt-2 btn btn-dark">Contact Support</button>
        </div>
    </div>
</div>


