@{
    ViewData["Title"] = "Contact us";
}

<h1 class="display-4 fw-semibold">Contacts</h1>
<p>Every single detail for you to reach us.</p>
<hr/>
<br/>

<div class='ps-3'>
    <h6 class="display-6">Team details:</h6>
    <ul>
        <li>2117032</li>
        <li>Jason's ID</li>
        <li>Muhammad's ID</li>
    </ul>
    
    
    <h6 class="display-6 mt-4">Address:</h6>
    <p>Anglia Ruskin University, East Rd, Cambridge CB1 1PT</p>
    <span>E: </span><a href="mailto:support@youinvest.me">support@youinvest.me</a><br/>
    <span>Ph: </span><a href="tel:020112200000">020112200000</a>
    
</div>

