@{
    ViewData["Title"] = "Home Page";
}

@{
    string userrole = "";
}

@foreach (var claim in User.Claims)
{
    if (claim.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
    {
        userrole = claim.Value;
    }
}

<div class="container">
    
    <div class="p-4 mb-2 rounded-4 col-12 col-md-8 text-center mx-auto container">
       
            @if (userrole == "Creator") {
                <h1 class="display-5 fw-bold">Hello, <span class="text-primary">Creator</span>!</h1>
                <p class="text-muted">We will help you get started with your dashboard. You can <a asp-action="Create" asp-controller="Idea">start adding</a> your ideas to the platform or <a asp-action="Index" asp-controller="Idea">see</a> what you have available so far.</p>
            } else if (userrole == "Manager") {
                <h1 class="display-5 fw-bold">Hello, <span class="text-primary">Manager</span>!</h1>
                 <p class="text-muted">We will help you get started with your dashboard. You can <a asp-action="Index" asp-controller="Idea">start exploring all ideas</a> on the platform or <a asp-action="Create" asp-controller="Client">add</a> new client straight up.</p>
            }
     
       
    </div>
    
    <div class="d-flex flex-column flex-md-row gap-4">
        <div class="w-100 w-md-50">
            <div class="p-5 mb-2 bg-light rounded-4">
                <div class="container-fluid">
                    <h1 class="display-6 fw-bold">How to use?</h1>
                    <p>Cillum nostrud ullamco pariatur ex cillum occaecat enim commodo. Proident ad voluptate culpa laborum eiusmod duis. Labore magna id laborum nulla ut consectetur aliqua ad consequat magna irure magna sit minim. Magna minim voluptate ad duis aliquip cillum cupidatat. Officia eiusmod amet cillum in adipisicing nostrud. Sint quis nostrud esse consequat eu cillum do consectetur velit anim laborum dolore.</p>
                    <a class="btn btn-primary" type="button" asp-action="Create" asp-controller="Idea">Submit your first idea</a>
                </div>
            </div>
        </div>
        
        <flex-md-row div class="w-100 w-md-50">
            <div class="p-5 mb-2 bg-light rounded-4">
                <div class="container-fluid">
                    <h1 class="display-6 fw-bold">Not the first time?</h1>
                    <p>Cillum nostrud ullamco pariatur ex cillum occaecat enim commodo. Proident ad voluptate culpa laborum eiusmod duis. Labore magna id laborum nulla ut consectetur aliqua ad consequat magna irure magna sit minim. Magna minim voluptate ad duis aliquip cillum cupidatat. Officia eiusmod amet cillum in adipisicing nostrud. Sint quis nostrud esse consequat eu cillum do consectetur velit anim laborum dolore.</p>
                    <a class="btn btn-primary" asp-controller="Idea" asp-action="Index">Let's start</a>
                </div>
            </div>
        </flex-md-row>
        
    </div>
    
    

        
  
</div>

