@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Hello, User!</h1>
    <a href="https://youinvestme-site-nuriddinislamov.vercel.app" class="pr-4 btn btn-secondary" target="_blank">Demo website</a>
    <a asp-controller="Manager" asp-action="Index" class="btn btn-primary">Managers</a>
</div>

