@model YouInvestMe.Models.User

<h1>Welcome @User.Identity.Name!</h1>

<div class="">
    <h1 class="display-4">Account Details</h1>
    <a asp-controller="Idea" asp-action="Index" class="btn btn-primary">See all ideas</a>
    <a asp-controller="Client" asp-action="Index" class="btn btn-primary">See all clients</a>
</div>
<ul>
    @foreach (var claim in User.Claims)
    {
        <li><strong>@claim.Type</strong>: @claim.Value</li>
    }
</ul>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}