@model YouInvestMe.Models.UserLoginModel


<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="mb-3"><img src="/assets/logo.svg" class="me-3 mb-2" width='32' height='32' alt="Logo" />Login</h1>
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-4">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="d-flex flex-column justify-content-between">    
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
                <div class="mt-2">
                    <span>
                        Don't have account?
                    </span>
                    <a asp-action="Register">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}