@model YouInvestMe.Models.Client

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        
        <h1>Create</h1>

        <h4>Client</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="height: 150px"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskLevelId" class="control-label"></label>
                <select asp-for="RiskLevelId" class ="form-control" asp-items="ViewBag.RiskLevelId"></select>
            </div>
             <div class="form-group mt-5 text-center">
                <input type="submit" value="Create" class="btn btn-primary w-50" />
            </div>    
        </form>
        <div class="text-center">
            <a asp-action="Index" class="btn btn-secondary mt-2 w-50">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
