@model YouInvestMe.Models.Client

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <h1>Edit</h1>

        <h4>Client</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="height: 150px"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="RiskLevelId" class="control-label"></label>
                <select asp-for="RiskLevelId" class="form-control" asp-items="ViewBag.RiskLevelId"></select>
                <span asp-validation-for="RiskLevelId" class="text-danger"></span>
            </div>
            <div class="form-group mt-5 text-center">
                <input type="submit" value="Save" class="w-50 btn btn-primary" />
            </div>
        </form>   
        <div class="mt-1 text-center">
            <a asp-action="Index" class="w-50 btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
